.login-content{
  padding: 0px 10px 10px 10px;
  animation: fade .5s;
}

.log{
  width: 90%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 3px;
}

.standard{
  border: solid lightgray 1px;
  height: 30px;
}

.error{
  border: solid red 1px;
  height: 30px;
}

.item-half{
  display: flex;
  height: 50%;
}

.item-title{
  width: 85%;
}

.item-button{
  width: 15%;
  text-align: center;
  padding-right: 30px;
}

.area{
  height: 100px;
  border: solid lightgray 1px
}

.msg-err{
  color: red;
}

.btn-log{
  background-color: #147EFB;
  color: white;
  border: solid #147EFB 1px;
  border-radius: 5px;
  width: 30%;
  height: 30px;
  transition: background-color .5s, border .5s;
}

.btn-log:hover{
  background-color: lightgray;
  border: solid lightgray 1px;
}

.content{
  margin-top: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.btn-logout{
  color: #147EFB;
  background-color: white;
  border: none;
  transition: color .2s;
  padding-left: 0px;
  font-size: 1.1rem;
}

.btn-logout:hover{
  color: lightgray;
}

.feature-bar{
  display: flex;
  width: 100%;
}
.add{
  text-align: end;
  width: 100%;
}

.item{
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  height: 50px;
  box-shadow: lightgray 3px 3px 8px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.title{
  width: 100%;
  text-align: center;
}

.ItemList-box{
  height: 350px;
  padding: 10px 10px 10px 10px;
  overflow-y: auto;
}

@keyframes fade{
  from {opacity: 10%;}
  to {opacity: 100%;}
  from {margin-top: -3%;}
  to {margin-top: 0%;}
}